/* || GENERAL STYLES */

h2{
    font-size: 3.125rem;

    color: #104180;
}


/* || TITLE HEADING */

#top-heading{
    margin-top: 0;
    padding-top: 7rem;
    padding-bottom: 6rem;

    text-align: center;

    width: 100%;

    background-color: #8BDCDD;
}

/* || EVENTS */

#research-symposium-heading{
    font-size: 4rem;
    
    margin-top: 0;
    padding-top: 0;
}

#research-program-signup{
    width: 21rem;
    height: 8rem;
    
    margin-top: 6rem;
    margin-bottom: 6rem;

    font-size: 2rem;

    border-radius: 20px;
}

.event-container{
    display: flex;

    justify-content: start;
    align-items: center;
    text-align: left;

    gap: 3rem;

    padding-bottom: 5rem;
    padding-top: 5rem;
}

.event-container img{
    min-width: 25rem;
    width: 25rem;
    min-height: 25rem;
    height: 25rem;

    object-fit: cover;
}

.event-container p, .event-container h3, .event-container h2{
    margin: 1rem 0;
}

.event-container button{
    margin-top: 0;

    background-color: #00A0F0;
    color: white;

    font-family: "Francois One", sans-serif;
    font-size: 1.875rem;

    border: none;
    border-radius: 10px;

    width: 20rem;
    height: 4rem;
}

.events{
    padding-top: 5rem;
    padding-bottom: 5rem;

    padding-left: 10%;
    padding-right: 10%;

    text-align: center;
}

.event-details a{
    font-size: 1.25rem;
}

@media (width < 51.5625rem){
    .event-container{
        flex-direction: column;
    }
}

/* || PAST EVENTS */ 

#past-event-heading{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7rem;

    text-align: center;

    background-color: #8BDCDD;
}

#past-event-heading+.events{
    background-color: #8BDCDD;
}

.swiper{
    width: 100%;
}

.swiper-container{
    box-sizing: border-box;

    margin: 0 88px 35px;
    padding: 20px 10px;

    overflow-x: hidden;
}

.swiper-card{
    box-sizing: border-box;

    border-radius: 12px;
    border: solid #104180;

    height: auto;

    user-select: none;

    display: flex;
    flex-direction: column;
}

.swiper-card:active{
    cursor: grabbing;
}

.swiper-card img{
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 9px 9px 0 0;

    margin: 0;

    object-fit: cover;
}

.card-text{
    background-color: #00A0F0;

    border-radius: 0 0 9px 9px;

    flex-grow: 1;

    padding: 1rem 2rem;
    margin: 0;
}

.card-text h3{
    color: white;

    font-weight: 400;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.card-text p{
    margin-top: 1.5rem;
    color: white;
}